* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	font-size: 18px;
	font-weight: 400;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

a,
a:hover {
	text-decoration: none;
	outline: 0;
}

.page {
	background: #ffc730;
	position: relative;
	height: 100vh;
	width: 100%;
}

section {
	/*width:50%;
  flex-grow: 1;
  flex: 1 1 50%;
  */
	padding: 20px 40px;
}

.no-padding {
	padding: 0;
}

.left-side {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	background-position-x: center;
	background-position-y: top;
	width: 100%;
}

.logo {
	margin-top: 25vh;
	margin-bottom: 30px;
	max-width: 60%;
}

.title {
	font-size: 22px;
}

.text-center {
	text-align: center;
}

.right-side {
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}

.right-side.sdk-side {
	background-color: #ffffff;
}

.right-side p.title {
	margin-top: 40px;
}

h1 {
	margin-top: 8vh;
	font-size: 1.8em;
}

.platforms {
	margin-top: 20px;
	display: flex;
	list-style: none;
	justify-content: center;
}

.right-side .platforms li {
	text-align: center;
	display: flex;
	align-items: center;
}

.center {
	align-self: center;
}

.short {
	max-width: 410px;
}

.copyright {
	margin-bottom: 20px;
}

.copyright a {
	color: white;
}

.copyright a:hover {
	text-decoration: underline;
}

.copyright,
.disclaimer {
	font-size: 14px;
}

.platform-icon {
	margin: 0 10px;
	max-width: 80px;
	width: 100%;
}

.platform-icon.coming {
	max-width: 160px;
}

.logo-wrapper {
	text-align: center;
}

.webrtc-logo {
	width: 100%;
	max-width: 410px;
	margin: 0 auto;
}

.button {
	background: transparent;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	opacity: 0.9;
	padding: 10px 15px;
	outline: 0;
	cursor: pointer;
}

.button:hover {
	outline: 0;
	opacity: 1;
}

.price {
	font-size: 60px;
	margin-top: 70vh;
	margin-left: 20px;
	align-self: flex-start;
}

.credits {
	margin-top: auto;
	align-self: flex-start;
	margin-bottom: 20px;
}

.attach-videocall {
	flex: 2;
}

.attach-chat {
	flex: 1;
}

.direction {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 100px;
	width: 100px;
	border: none;
	cursor: pointer;
	background-color: transparent;
	background-size: cover;
	outline: 0;
	z-index: 2;
}

.direction-left {
	left: 0;
	background-image: url('icons/arrow-left.svg');
}

.direction-right {
	right: 0;
	background-image: url('icons/arrow-right.svg');
}

.unavailable {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 80%;
	background: #ffc730;
	padding: 30px 40px;
}

.unavailable .logo {
	margin-top: 0;
}

.unavailable__text {
	margin-bottom: 30px;
}

.unavailable__subtitle {
	font-size: 22px;
	margin-bottom: 50px;
}

.app {
	width: 100%;
	max-width: 250px;
	object-fit: contain;
	margin: 30px auto 0;
}

.mobile .unavailable {
	display: flex;
}

.mobile .left-side {
	max-width: 100%;
}

.android #android,
.ios #ios {
	display: flex !important;
	flex-direction: row;
	align-items: center;
}

.mobile .left-side * {
	display: none;
}

.mobile .right-side {
	display: none;
}

.mobile .unavailable p {
	max-width: 74%;
}

.hide {
	display: none;
}

/* Github corner styles */
.github-corner {
	position: absolute;
	top: 0;
	right: 0;
}

.github-corner svg {
	height: 120px;
	width: 120px;
}

.github-corner:hover .octo-arm {
    animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave{
    0%,100%{
        transform:rotate(0)
    }
    20%,60%{
        transform:rotate(-25deg)
    }
    40%,80%{
        transform:rotate(10deg)
    }
}

@media (max-width:500px){
    .github-corner:hover .octo-arm{
        animation:none
    }
    .github-corner .octo-arm{
        animation:octocat-wave 560ms ease-in-out
    }
}

@media (max-width: 1200px) {
	.github-corner svg {
		height: 100px;
		width: 100px;
	}
}

@media (max-width: 1000px) {
	.github-corner svg {
		height: 80px;
		width: 80px;
	}
}

@media (min-width: 769px) {
	.unavailable {
		display: none;
	}

	.right-side {
		display: flex;
	}

	.left-side {
		flex: 1;
		max-width: 50%;
	}
}

@media (max-width: 769px) {
	.left-side,
	.right-side {
		display: flex;
		flex: 1;
		padding: 0 !important;
		box-sizing: border-box;
	}

	.right-side {
		justify-content: space-around;
	}

	.right-side h2 {
		text-align: center;
		margin-top: 10px;
	}

	.right-side .platforms {
		margin-top: 0px;
	}

	.right-side .platforms img {
		width: 70%;
		align-items: center;
		margin: 0 4px;
	}

	.right-side .platforms li {
		text-align: center;
		display: flex;
		align-items: center;
	}

	.right-side .webrtc-logo {
		width: 80%;
	}

	.right-side p {
		font-size: 16px;
		padding: 0 16px;
		/* text-align: center; */
	}

	.right-side p:last-child {
		padding-bottom: 16px;
	}

	.right-side p.title {
		font-size: 18px;
	}
}

@media (max-width: 425px) {
	.mobile .unavailable p {
		max-width: 100%;
	}

	.unavailable__subtitle {
		margin-bottom: 40px;
	}

	.unavailable__text {
		margin-bottom: 30px;
	}

	.app {
		max-width: 80%;
	}
}

@media (max-width: 375px) {
	.unavailable {
		padding: 24px 20px;
	}
}

@media (max-width: 360px) {
	.unavailable {
		padding: 24px 20px;
	}
	
	.unavailable__subtitle {
		font-size: 20px;
	}

	.unavailable p:not(.unavailable__subtitle) {
		font-size: 16px;
	}
}
